### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as sts

# File to Load (Remember to Change These)

# Read Purchasing File and store into Pandas data frame
hero_df = pd.read_csv('Resources/purchase_data.csv')
hero = pd.DataFrame(hero_df)
hero

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [2]:
player_count = len(hero) - 1 
player_count
print("There are " + str(player_count) + " players in total.")

There are 779 players in total.

In [3]:
#count for the entire dataframe
hero.apply(pd.value_counts).fillna(0)

                    Purchase ID   SN  Age  Gender  Item ID  Item Name  Price
0                           1.0  0.0  0.0     0.0      4.0        0.0    0.0
1                           1.0  0.0  0.0     0.0      3.0        0.0    2.0
1.01                        0.0  0.0  0.0     0.0      0.0        0.0    5.0
1.02                        0.0  0.0  0.0     0.0      0.0        0.0   14.0
1.03                        0.0  0.0  0.0     0.0      0.0        0.0    4.0
...                         ...  ...  ...     ...      ...        ...    ...
Yearning Crusher            0.0  0.0  0.0     0.0      0.0        3.0    0.0
Yearning Mageblade          0.0  0.0  0.0     0.0      0.0        5.0    0.0
Yoishirrala98               0.0  1.0  0.0     0.0      0.0        0.0    0.0
Zhisrisu83                  0.0  2.0  0.0     0.0      0.0        0.0    0.0
Zontibe81                   0.0  3.0  0.0     0.0      0.0        0.0    0.0

[1680 rows x 7 columns]

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
unique_items = hero['Item Name'].nunique()
#.value_counts(dropna=True, sort=True, normalize = True)
unique_items


#ItemCount = ItemCount.value_counts().rename_axis('Item').reset_index(name='Counts')
#ItemCount

179

In [5]:
#Average Price
average_price = hero[['Price', 'Item Name']].groupby('Item Name').mean()
average_price
#Create a summary data frame to hold the results

                                 Price
Item Name
Abyssal Shard                     2.67
Aetherius, Boon of the Blessed    3.39
Agatha                            3.08
Alpha                             2.07
Alpha, Oath of Zeal               4.05
...                                ...
Wolf                              3.54
Wolf, Promise of the Moonwalker   4.48
Worldbreaker                      2.60
Yearning Crusher                  4.18
Yearning Mageblade                3.82

[179 rows x 1 columns]

In [6]:
#Create a summary data frame to hold the results

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [12]:
GenderPercentage = pd.value_counts(hero['Gender'], normalize = True)
GenderPercentage

Male                     0.835897
Female                   0.144872
Other / Non-Disclosed    0.019231
Name: Gender, dtype: float64

In [11]:
GenderCount = pd.value_counts(hero['Gender'])
GenderCount

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [15]:
#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
heroMale = hero[hero['Gender'] == 'Male'] 
heroMale

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
774,774,Jiskjask80,11,Male,101,Final Critic,4.19
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [17]:
heroFemale = hero[hero['Gender'] == 'Female'] 
heroFemale

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
18,18,Reunasu60,22,Female,82,Nirvana,4.90
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18
41,41,Assosia88,20,Female,7,"Thorn, Satchel of Dark Souls",1.33
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79
...,...,...,...,...,...,...,...
731,731,Eudanu84,22,Female,12,Dawne,1.02
740,740,Reunasu60,22,Female,127,"Heartseeker, Reaver of Souls",3.92
754,754,Pheosurllorin41,23,Female,79,"Alpha, Oath of Zeal",4.05
767,767,Ilmol66,8,Female,92,Final Critic,4.88
775,775,Aethedru70,21,Female,60,Wolf,3.54

In [20]:
heroOther = hero[hero['Gender'] == 'Other / Non-Disclosed'] 
heroOther

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
82,82,Haerithp41,16,Other / Non-Disclosed,160,Azurewrath,4.40
111,111,Sundim98,21,Other / Non-Disclosed,41,Orbit,4.75
228,228,Jiskirran77,20,Other / Non-Disclosed,80,Dreamsong,3.39
237,237,Idairin51,20,Other / Non-Disclosed,16,Restored Bauble,3.55
242,242,Eodaisu60,16,Other / Non-Disclosed,39,"Betrayal, Whisper of Grieving Widows",3.94
291,291,Idairin51,20,Other / Non-Disclosed,35,Heartless Bone Dualblade,3.45
350,350,Rairith81,15,Other / Non-Disclosed,34,Retribution Axe,2.22
401,401,Lirtim36,15,Other / Non-Disclosed,46,Hopeless Ebon Dualblade,1.33
484,484,Chanosian48,35,Other / Non-Disclosed,39,"Betrayal, Whisper of Grieving Widows",3.94
549,549,Maluncil97,25,Other / Non-Disclosed,146,Warped Iron Scimitar,3.10
629,629,Maluncil97,25,Other / Non-Disclosed,107,"Splitter, Foe Of Subtlety",2.18
637,637,Airi27,24,Other / Non-Disclosed,163,Thunderfury Scimitar,3.45
747,747,Siarithria38,38,Other / Non-Disclosed,146,Warped Iron Scimitar,3.10

In [28]:
#Run basic calculations to obtain purchase count
#Purchase Count by Gender

#Male
Mpurchase_count = len(heroMale) - 1 
Mpurchase_count

651

In [29]:
#Female
Fpurchase_count = len(heroFemale) - 1 
Fpurchase_count

112

In [32]:
Opurchase_count = len(heroOther) - 1 
Opurchase_count

14

In [33]:
Maverage_purchase = heroMale['Price'].mean()
Maverage_purchase

3.0178527607361953

In [34]:
Faverage_purchase = heroFemale['Price'].mean()
Faverage_purchase

3.203008849557519

In [35]:
Oaverage_purchase = heroOther['Price'].mean()
Oaverage_purchase

3.3460000000000005

## Age Demographics

In [52]:
Ages = pd.value_counts(hero['Age'])
Ages

20    99
22    70
24    67
23    67
21    62
25    59
15    35
30    35
16    30
18    26
19    23
17    22
35    14
33    14
26    14
29    13
27    10
10     9
7      9
34     9
38     9
32     8
8      8
11     7
31     7
37     7
39     6
40     6
9      6
12     6
36     5
28     5
13     4
44     2
41     2
14     2
43     1
42     1
45     1
Name: Age, dtype: int64

In [103]:
#Define bins as 15 to 50 in groups of 15, 20, 25, 30, 35, 40, 45, 50
bins = pd.Series([15, 20, 25, 30, 35, 40, 45, 50,])
print(bins)
#labels

0    15
1    20
2    25
3    30
4    35
5    40
6    45
7    50
dtype: int64

[None]

In [108]:
group_names = ['low', 'average', 'good', 'brilliant', 'twin', 'mungby', 'rex']
group_names

['low', 'average', 'good', 'brilliant', 'twin', 'mungby', 'rex']

In [107]:
#binned data
#binned_data = pd.cut(Ages,bins)
hero['Age'] = pd.cut((['Ages']), bins, labels=group_names)

ValueError: Bin labels must be one fewer than the number of bin edges

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [92]:
unique_itemsAge = hero['Age'].nunique()
unique_itemsAge

39

In [90]:
purchase_items = pd.value_counts(hero['Age'])
purchase_items

20    99
22    70
24    67
23    67
21    62
25    59
15    35
30    35
16    30
18    26
19    23
17    22
35    14
33    14
26    14
29    13
27    10
10     9
7      9
34     9
38     9
32     8
8      8
11     7
31     7
37     7
39     6
40     6
9      6
12     6
36     5
28     5
13     4
44     2
41     2
14     2
43     1
42     1
45     1
Name: Age, dtype: int64

In [ ]:
purchase_data =

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame