In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [2]:
#Declare Variables
UniquePlayers = 0
UniqueItems = 0
PurchaseAverage = 0.00
TotalPurchases = 0
TotalRevenue = 0.00

In [3]:
#Unique Players
UniquePlayers = purchase_data["SN"].nunique()
UniquePlayers

576

In [4]:
# of unique items
UniqueItems = purchase_data["Item ID"].nunique()
UniqueItems

183

In [5]:
#Total Purchases Count
TotalPurchases = len(purchase_data)
TotalPurchases

780

In [6]:
#Total Sales Revenue
TotalRevenue = purchase_data["Price"].sum()
print(f"$" + str(TotalRevenue.round(2)))

$2379.77

In [7]:
#Average Purchase Price
PurchaseAverage = TotalRevenue / len(purchase_data)
print(f"$" + str(PurchaseAverage.round(2)))

$3.05

In [8]:
#Calculate Unique Player counts based on Gender
GCounts_df = purchase_data.groupby("Gender")["SN"].nunique()
GCounts_df.head()

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [9]:
#Calculate Percentage of Total based on Gender
GPercent_df = GCounts_df / UniquePlayers * 100
GPercent_df.round(2)

Gender
Female                   14.06
Male                     84.03
Other / Non-Disclosed     1.91
Name: SN, dtype: float64

In [10]:
#Calculate Unique Player Purchases based on Gender
GPurchases_df = purchase_data.groupby("Gender")["Item Name"]
GPurchaseCount = GPurchases_df.count()
GPurchaseCount

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Item Name, dtype: int64

In [11]:
#Calculate Average Price based on Gender
GAverage_df = purchase_data.groupby("Gender")["Price"].mean()
GAverageValues = GAverage_df.round(2)
GAverageValues

Gender
Female                   3.20
Male                     3.02
Other / Non-Disclosed    3.35
Name: Price, dtype: float64

In [12]:
#Calculate Total Purchase Values based on Gender
GTPurchase_df = purchase_data.groupby("Gender")["Price"].sum()
GTPurchase = GTPurchase_df.round(2)
GTPurchase

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [13]:
#Create bins for storing the age breakdown data. Bins are as follows: Under 10, 10 to 14, 15 to 19, 20 to 24, 25 to 29, 30 to 34, 35 to 39, Over 39.

bins = [0,10,15,20,25,30,35,40,45]
age_ranges = ["Under 10", "10 to 14","15 to 19", "20 to 24", "25 to 29", "30 to 34", "35 to 39", "40 and Up"]

In [14]:
#Place Age data into bins
pd.cut(purchase_data["Age"], bins, labels=age_ranges)

0      15 to 19
1      35 to 39
2      20 to 24
3      20 to 24
4      20 to 24
         ...
775    20 to 24
776    20 to 24
777    15 to 19
778    Under 10
779    20 to 24
Name: Age, Length: 780, dtype: category
Categories (8, object): [Under 10 < 10 to 14 < 15 to 19 < 20 to 24 < 25 to 29 < 30 to 34 < 35 to 39 < 40 and Up]

In [15]:
#Calculate Average Purchase Prices based on Age Group
PurchasesWithAgeBins_df = purchase_data
PurchasesWithAgeBins_df["Age Range"] = pd.cut(PurchasesWithAgeBins_df["Age"], bins, labels= age_ranges)
PurchasesWithAgeBins_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,15 to 19
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,35 to 39
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20 to 24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20 to 24
4,4,Iskosia90,23,Male,131,Fury,1.44,20 to 24

In [16]:
#Calculate Unique Player counts based on Age Range
ACounts_df = PurchasesWithAgeBins_df.groupby("Age Range")["SN"].nunique()
ACounts_df

Age Range
Under 10      24
10 to 14      41
15 to 19     150
20 to 24     232
25 to 29      59
30 to 34      37
35 to 39      26
40 and Up      7
Name: SN, dtype: int64

In [17]:
#Calculate Percentage of Total based on Age Group
APercent_df = round(PurchasesWithAgeBins_df["Age Range"].value_counts() / TotalPurchases * 100,2)
APercent_df

20 to 24     41.67
15 to 19     25.64
25 to 29      9.87
10 to 14      6.92
30 to 34      6.67
35 to 39      4.23
Under 10      4.10
40 and Up     0.90
Name: Age Range, dtype: float64

In [18]:
#Calculate Total Purchase Counts based on Age Group
ATPurchases_df = PurchasesWithAgeBins_df.groupby("Age Range")["Item Name"]
ATPurchasesCounts = ATPurchases_df.count()
ATPurchasesCounts

Age Range
Under 10      32
10 to 14      54
15 to 19     200
20 to 24     325
25 to 29      77
30 to 34      52
35 to 39      33
40 and Up      7
Name: Item Name, dtype: int64

In [19]:
#Calculate Average Purchase Price based on Age Group
AAverage_df = PurchasesWithAgeBins_df.groupby("Age Range")["Price"].mean()
AAverageValues = AAverage_df.round(2)
AAverageValues

Age Range
Under 10     3.40
10 to 14     2.90
15 to 19     3.11
20 to 24     3.02
25 to 29     2.88
30 to 34     2.99
35 to 39     3.40
40 and Up    3.08
Name: Price, dtype: float64

In [20]:
#Calculate Total Purchase Value based on Age Group
ATPurchasePrices_df = PurchasesWithAgeBins_df.groupby("Age Range")["Price"]
ATPurchasePricesCounts = ATPurchasePrices_df.sum()
ATPurchasePricesCounts

Age Range
Under 10     108.96
10 to 14     156.60
15 to 19     621.56
20 to 24     981.64
25 to 29     221.42
30 to 34     155.71
35 to 39     112.35
40 and Up     21.53
Name: Price, dtype: float64

In [21]:
#Calculate Player Sales Data
PPurchaseCount_df = purchase_data.groupby("SN").count()["Price"].rename("Purchase Count")
PPurchasePrice_df = round(purchase_data.groupby("SN").mean()["Price"].rename("Average Purchase Price"),2)
PPurchaseValue_df = purchase_data.groupby("SN").sum()["Price"].rename("Total Purchase Value")

In [22]:
#Create and display Total Player Sales Summary DF
TotalPSales_df = pd.DataFrame({"Purchase Count":PPurchaseCount_df,
                         "Average Purchase Price":PPurchasePrice_df,
                         "Total Purchase Value":PPurchaseValue_df
                          })
TotalPSales_df

               Purchase Count  Average Purchase Price  Total Purchase Value
SN
Adairialis76                1                    2.28                  2.28
Adastirin33                 1                    4.48                  4.48
Aeda94                      1                    4.91                  4.91
Aela59                      1                    4.32                  4.32
Aelaria33                   1                    1.79                  1.79
...                       ...                     ...                   ...
Yathecal82                  3                    2.07                  6.22
Yathedeu43                  2                    3.01                  6.02
Yoishirrala98               1                    4.58                  4.58
Zhisrisu83                  2                    3.94                  7.89
Zontibe81                   3                    2.68                  8.03

[576 rows x 3 columns]

In [23]:
#Calculate Item Sales Data
IPurchaseCount_df = purchase_data.groupby(["Item ID", "Item Name"]).count()["Price"].rename("Purchase Count")
IAveragePrice_df = round(purchase_data.groupby(["Item ID", "Item Name"]).mean()["Price"].rename("Average Purchase Price"),2)
IValueTotal_df = purchase_data.groupby(["Item ID", "Item Name"]).sum()["Price"].rename("Total Purchase Value")

In [24]:
#Create and display Total Items Sales Summary DF
TotalISales_df = pd.DataFrame({"Purchase Count":IPurchaseCount_df,
                         "Average Item Price":IAveragePrice_df,
                         "Total Purchase Value":IValueTotal_df
                          })
TotalISales_df

,,Purchase Count,Average Item Price,Total Purchase Value
Item ID,Item Name,,,
0,Splinter,4,1.28,5.12
1,Crucifer,3,3.26,9.78
2,Verdict,6,2.48,14.88
3,Phantomlight,6,2.49,14.94
4,Bloodlord's Fetish,5,1.70,8.50
...,...,...,...,...
179,"Wolf, Promise of the Moonwalker",6,4.48,26.88
180,Stormcaller,1,3.36,3.36
181,Reaper's Toll,5,1.66,8.30
182,Toothpick,3,4.03,12.09
183,Dragon's Greatsword,3,1.09,3.27

In [25]:
#Create and display Buyer Summary DF
BuyerSummary_df = pd.DataFrame({"Number of Unique Players":[UniquePlayers],
                                "Number of Unique Items":[UniqueItems],
                                "Average Purchase Price":[PurchaseAverage.round(2)],
                                "Total Number of Purchases":[TotalPurchases],
                                "Total Revenue":[TotalRevenue.round(2)]    
                              })
BuyerSummary_df

,Number of Unique Players,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,576,183,3.05,780,2379.77

In [26]:
#Create and display Gender Summary DF
GSummary_df = pd.DataFrame({"Unique Players":GCounts_df,
                            "Percent of Total":GPercent_df,
                            "Total Purchases":GPurchaseCount,
                            "Avg. Price per Gender":GAverageValues,
                            "Tot. Purchases per Gender":GTPurchase
                          })
GSummary_df

,Unique Players,Percent of Total,Total Purchases,Avg. Price per Gender,Tot. Purchases per Gender
Gender,,,,,
Female,81,14.062500,113,3.20,361.94
Male,484,84.027778,652,3.02,1967.64
Other / Non-Disclosed,11,1.909722,15,3.35,50.19

In [27]:
#Create and display Age Range Summary DF
ASummary_df = pd.DataFrame({"Unique Players":ACounts_df,
                            "Percent of Total":APercent_df,
                            "Total Purchases":ATPurchasesCounts,
                            "Avg. Price per Age Range":AAverageValues,
                            "Tot. Purchase Values per Age Range":ATPurchasePricesCounts
                          })
ASummary_df

,Unique Players,Percent of Total,Total Purchases,Avg. Price per Age Range,Tot. Purchase Values per Age Range
Under 10,24,4.10,32,3.40,108.96
10 to 14,41,6.92,54,2.90,156.60
15 to 19,150,25.64,200,3.11,621.56
20 to 24,232,41.67,325,3.02,981.64
25 to 29,59,9.87,77,2.88,221.42
30 to 34,37,6.67,52,2.99,155.71
35 to 39,26,4.23,33,3.40,112.35
40 and Up,7,0.90,7,3.08,21.53

In [28]:
#Display Top 5 Spenders Data
Top5Spenders = TotalPSales_df.sort_values("Total Purchase Value", ascending=False)
Top5Spenders.head(5)

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                    3.79                 18.96
Idastidru52               4                    3.86                 15.45
Chamjask73                3                    4.61                 13.83
Iral74                    4                    3.40                 13.62
Iskadarya95               3                    4.37                 13.10

In [29]:
#Display Top 5 Most Popular Items, by Purchase Count
Top5PurchasedItems_df = TotalISales_df.sort_values("Purchase Count", ascending=False)
Top5PurchasedItems_df.head(5)

,,Purchase Count,Average Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
82,Nirvana,9,4.90,44.10
19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16

In [30]:
#Display Top 5 Most Profitable Items, by Purchase Value
Top5ProfitableItems_df = TotalISales_df.sort_values("Total Purchase Value", ascending=False)
Top5ProfitableItems_df.head(5)

,,Purchase Count,Average Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
92,Final Critic,8,4.88,39.04
103,Singed Scalpel,8,4.35,34.80